<%page expression_filter="h"/>
<%! from django.utils.translation import gettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("A Joint E-learning/MOOC platform for Hong Kong's Tertiary Education Sector (HKMOOC)")}</h1>

        <p>${_("HKMOOC is a collaborative project funded by the University Grants Committee's Teaching and Learning Funding Scheme. The aim of the proposed project is to establish a joint e-learning / MOOC platform to facilitate collaboration in teaching and learning for Hong Kong's tertiary education sector and to adopt innovative pedagogies for enhancing the learning experience of students. The platform would also enable instructors to collect data on students' learning patterns (in particular, students in Hong Kong) and perform learning analytics on how students learn.")}</p>
        <p>${_("The main objectives of the project are:")}</p>
        <ol>
            <li>${_("To establish a joint e-learning platform for the sharing of online courses among UGC institutions. It is expected that the platform will be operational within 6 months after funding is approved for the project.")}</li>
            <li>${_("To use the platform to offer blended learning courses for piloting innovative pedagogies such as active learning, flipped classroom and peer instruction.")}</li>
            <li>${_("To foster collaboration among institutions by packaging related courses offered by different institutions into curriculum programs (e.g. general education blocks and minor programs).")}</li>
            <li>${_("To provide collaborative opportunities for instructors from local and overseas institutions to co-develop blended learning courses to be taken by local and non-local students.")}</li>
            <li>${_("To provide a platform for collecting data on students' learning patterns and perform learning analytics on students learning behaviors to provide just-in-time feedback to instructors for enhancing the learning experience of students.")}</li>
        </ol>
        <p>${_("The long-term objective of the project is to provide an e-learning platform for all UGC institutions to offer their high quality courses to students from around the world, and in particular, to Hong Kong students from UGC institutions as well as self-financed post-secondary institutions and secondary schools.")}</p>
    </section>
    <hr/>
    <section class="container about">
        <h1>${_("Partners")}</h1>
        <ol class="partners">
            <li><img src="static/hkmooc/images/cityu_logo.png"/></li>
            <li><img src="static/hkmooc/images/hkbu_logo.png"/></li>
            <li><img src="static/hkmooc/images/cuhk_logo.png"/></li>
            <li><img src="static/hkmooc/images/hkpolyu_logo.png"/></li>
            <li><img src="static/hkmooc/images/hkust_logo.png"/></li>
            <li><img src="static/hkmooc/images/hku_logo.png"/></li>
        </ol>
        <h1>${_("Collaborators")}</h1>
        <ol class="collaborators">
            <li><img src="static/hkmooc/images/hkmu_logo.png"/></li>
            <li><img src="static/hkmooc/images/vtc_logo.png"/></li>
        </ol>
    </section>
</main>
